Repository JakubLinhart/AzureDevOpsBattlefield: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/macros.yml, pipelines/pipeline-parameters.yml, pipelines/repository-inline-syntax-with-github.yml, pipelines/repository-invalid-branch-invalid.yml, pipelines/repository-macros.yml, pipelines/repository-resource-with-inline-syntax.yml, pipelines/repository-template-expressions.yml, pipelines/repository.yml, pipelines/template-expressions.yml, pipelines/template-parameters.yml

Path conditions:
  pipelines/macros.yml: any of: macros.yml
  pipelines/pipeline-parameters.yml: any of: pipelines/pipeline-parameters.yml
  pipelines/repository-inline-syntax-with-github.yml: any of: pipelines/repository-inline-syntax-with-github.yml
  pipelines/repository-invalid-branch-invalid.yml: any of: pipelines/repository-template-expressions.yml
  pipelines/repository-macros.yml: any of: pipelines/repository-macros.yml
  pipelines/repository-resource-with-inline-syntax.yml: any of: pipelines/repository-resource-with-inline-syntax.yml
  pipelines/repository-template-expressions.yml: any of: pipelines/repository-template-expressions.yml
  pipelines/repository.yml: any of: pipelines/repository.yml
  pipelines/template-expressions.yml: any of: pipelines/template-expressions.yml
  pipelines/template-parameters.yml: any of: pipelines/template-parameters*.yml

remove runtime expression
  pipelines/pipeline-parameters.yml
Due: pipelines/pipeline-parameters.yml

fix powershell string syntax
  pipelines/pipeline-parameters.yml
Due: pipelines/pipeline-parameters.yml

undefine pipeline parameter in template expression
  pipelines/pipeline-parameters.yml
Due: pipelines/pipeline-parameters.yml

variable value defined by pipeline parameter
  pipelines/pipeline-parameters.yml
Due: pipelines/pipeline-parameters.yml

test undefined template parameter
  pipelines/template-parameters-strong.yml
  pipelines/template-parameters-weak.yml
Due: pipelines/template-parameters.yml

remove undefined parameter from strong template
  pipelines/template-parameters-strong.yml
Due: pipelines/template-parameters.yml

remove already existing case - undefined parameter in weakly typed template parameter
  pipelines/template-parameters-weak.yml
Due: pipelines/template-parameters.yml

sketch for more cases
  README.md
  pipeline-parameters.md
  template-parameters.md
Due: none

test weakly typed pipeline parameters
  pipelines/pipeline-parameters.yml
Due: pipelines/pipeline-parameters.yml

revert weakly typed test
  pipelines/pipeline-parameters.yml
Due: pipelines/pipeline-parameters.yml

variable groups with template expression
  pipelines/template-expressions.yml
Due: pipelines/template-expressions.yml

fix variable name
  pipelines/template-expressions.yml
Due: pipelines/template-expressions.yml

tests macro
  pipelines/template-expressions.yml
Due: pipelines/template-expressions.yml

workaround for variable groups
  pipelines/template-expressions.yml
Due: pipelines/template-expressions.yml

variable group readme stub
  pipelines/template-expressions.yml
  template-expressions.md
Due: pipelines/template-expressions.yml

pipeline parameters tbd
  pipeline-parameters.md
Due: none

variable group level variables in template expressions
  images/template-expressions-variable-group-level-variables-output.png
  images/template-expressions-variable-group-level-variables.png
  template-expressions.md
Due: none

workaround
  images/template-expressions-variable-group-level-variables-workaround-output.png
  template-expressions.md
Due: none

update index
  README.md
Due: none

invalid template parameter default value pipelines
  pipelines/template-parameters-strong-invalid-default-invalid.yml
  pipelines/template-parameters-strong-invalid-default-template-invalid.yml
Due: pipelines/template-parameters.yml

template expression as parameter default
  pipelines/template-parameters-strong-invalid-default-invalid.yml
  pipelines/template-parameters-strong-invalid-default-template-invalid.yml
Due: pipelines/template-parameters.yml

macro as default value
  pipelines/template-parameters-strong-invalid-default-template-invalid.yml
Due: pipelines/template-parameters.yml

revert to invalid default value
  pipelines/template-parameters-strong-invalid-default-invalid.yml
  pipelines/template-parameters-strong-invalid-default-template-invalid.yml
Due: pipelines/template-parameters.yml

finish valid default value
  README.md
  images/template-parameters-strong-invalid-default-invalid-error.png
  template-parameters.md
Due: none

default value specified by a macro
  pipelines/template-parameters-strong.yml
  pipelines/template-parameters.yml
Due: pipelines/template-parameters.yml

finish default value specified by a macro
  README.md
  images/template-parameters-strong-macro-in-default-output.png
  template-parameters.md
Due: none

default value specified by a macro for a boolean parameter
  pipelines/template-parameters-strong-bool-default-macro-invalid.yml
  pipelines/template-parameters-strong-bool-default-macro-template-invalid.yml
  template-parameters.md
Due: pipelines/template-parameters.yml

finish default value specified by a macro for a boolean parameter
  images/template-parameters-strong-bool-default-macro-error.png
  template-parameters.md
Due: none

index
  README.md
Due: none

undefined parameter in strongly typed templates
  pipelines/template-parameters-strong-undefined-parameter-invalid.yml
  pipelines/template-parameters-strong-undefined-parameter-template-invalid.yml
Due: pipelines/template-parameters.yml

finish undefined parameter in strongly typed templates
  images/template-parameters-strong-undefined-parameter-error.png
  template-parameters.md
Due: none

variable group variable in template expression test
  pipelines/template-expressions.yml
Due: pipelines/template-expressions.yml

another test
  pipelines/template-expressions.yml
Due: pipelines/template-expressions.yml

test
  pipelines/template-expressions.yml
Due: pipelines/template-expressions.yml

fix
  pipelines/template-expressions.yml
Due: pipelines/template-expressions.yml

more workaround tests
  template-expressions.md
Due: none

fix
  template-expressions.md
Due: none

UI defined secrets must be mapped to environment variables - basics.
  README.md
  pipelines/secrets-UI-variables-must-be-mapped-to-environment-variables.yml
  secrets.md
Due: none

reveal secret
  pipelines/secrets-UI-variables-must-be-mapped-to-environment-variables.yml
Due: none
